/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.hero-image {
  color: white;
  font-family: 'Noto Sans', sans-serif;

  background: black;
}

.title-text {
  /* border: 3px solid red; */
  font-size: 16px;
}

.nav {
  /* border: 3px solid blue; */
  padding: 0;
  font-size: 12px;
  float: right;
}

.top-bar {
  background: rgba(0, 0, 255, 0.7);
  padding: 0 10px;
}

.top-bar .title-text, 
.top-bar .nav {
  display: inline-block;
}

.nav li {
  /* 
  Inline makes them line up side by side,
  but gives us little control over spacing.
   */
  /* display: inline; */
  display: inline-block;
  padding-left: 8px;
}

.hero-image {
  background-image: url(../images/buildings.jpg);
  background-size: cover;
  height: 300px;
}

.welcome-message {
  text-align: center;
  /* border: 3px solid red; */
  margin-top: 40px;
  font-size: 12px;
  font-style: italic;
  text-shadow: 3px 5px 2px #474747;  
}
